/* Generl Rules/start */

body {
  max-width: 100%;
}

.wrapper {
  padding: 0 6rem;
}

/* Generl Rules/end */

/* header/start */

.main-header {
  padding: 2rem 0;
}

.main-nav {
  min-width: 28%;
}

.nav-menu {
  display: flex;
  gap: 0.5rem;
}

.main-nav img {
  display: none;
}

/* header/end */

/* intro/start */

.wrapper p {
  max-width: 35rem;
}

.intro .wrapper {
  max-width: 45rem;
  margin: 0 auto;
}

/* intro/end */

/* works/start */

.works .wrapper {
  max-width: 100%;
}

/* card/start */

.card {
  gap: 1.5rem;
  flex-direction: row;
  max-width: 100%;
  padding: 1.2rem;
}

.card > * {
  width: 50%;
}

.card > *:nth-child(2) {
  margin-top: 1.2rem;
}

.card:nth-child(2n) > *:nth-child(1) {
  order: 1;
}
