/* Generl Rules/start */

body {
  max-width: 100%;
}

.wrapper {
  padding: 0 6rem;
}

/* Generl Rules/end */

/* header/start */

.main-nav {
  min-width: 37%;
}

.nav-menu {
  display: flex;
  gap: 0.7rem;
}

.main-nav svg {
  display: none;
}

/* header/end */

/* intro/start */

.wrapper p {
  max-width: 35rem;
}

.intro .wrapper {
  max-width: 45rem;
  margin: 0 auto;
}

/* intro/end */

/* works/start */

.works .wrapper {
  max-width: 100%;
}

/* card/start */

.card {
  gap: 1.5rem;
  flex-direction: row;
  max-width: 100%;
  padding: 1.2rem;
}

.card > * {
  width: 50%;
}

.card > *:nth-child(2) {
  margin-top: 1.2rem;
}

.footer .wrapper > * {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}

.modal-container .card > *:not(img) {
  width: 100%;
}

.card:nth-child(2n) > *:nth-child(1) {
  order: 1;
}

/* card/end */

/* about/start */

.about {
  min-height: 100vh !important;
}

.about button {
  align-self: flex-start;
}

.about .wrapper {
  flex-direction: row;
  gap: 1.9rem;
}

.about .skills {
  margin-top: 5.7rem;
}

.languages .lang {
  margin-top: 0;
  width: 8rem;
  height: 6rem;
  flex-direction: column;
  margin-right: 0.6rem;
  align-items: flex-start;

  /* padding: 1rem; */
}

.languages {
  display: flex;
}

/* about/end */

/* footer/start */

#contact-form button {
  align-self: center;
}

/* footer/end */

/* modal/start */

.modal-container .wrapper {
  flex-direction: column;
  gap: 0.2rem;
}

.modal-container img[alt="project"] {
  width: 30%;
}

.modal-bottom {
  flex-direction: row;
  gap: 1.5rem;
}

.modal-side img {
  width: 20%;
}

/* modal/end */

