/* General Rules/start */

:root {
  --black: #172b4d;
  --black-light: #344563;
  --accent: #6070ff;
  --accent-light: #7f8cff;
  --blue: #396df2;
  --gray: #e5e5e5;
  --white: #fff;
}

body {
  background-color: var(--gray, #e5e5e5);
}

li,
summary {
  list-style-type: none;
}

button {
  color: var(--blue, #396df2);
  text-transform: capitalize;
}

.bg {
  background-color: var(--white, #fff);
}

.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

.hero .heading {
  color: var(--black, #172b4d);
  font-size: 2rem;
  line-height: 2.6rem;
}

.hero p,
.hero a {
  font-size: 0.8rem;
}

.hero p {
  color: var(--black-light, #344563);
  line-height: 1.2rem;
}

.hero a {
  color: var(--accent-light, #7f8cff);
}

/* General Rules/end */

/* header/start */

.logo {
  color: var(--accent, #6070ff);
  font-size: 0.9rem;
}

/* header/end */

/* intro/start */

.intro {
  background-image: url('../images/header-bg.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

/* intro/end */
